<% @students.each do |student| %>
  <div>
    <span> <%= student.first_name %> <%= student.last_name %></span>
    <span> <%= link_to "Edit", edit_student_path(student) %> </span>
    <span><%= link_to "Remove", student_path(student), method: :delete, data: { confirm: "Are you sure?" } %></span>
  </div>
<% end %>